.user-list {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .container {
    width: 55rem;

    .add-user {
      margin-top: 3rem;
      width: fit-content;
    }

    .user-card {
      height: 2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 3rem;
      margin-top: 2rem;

      border: 2px solid #252525;

      .username {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 2rem;

        padding: 0 1rem;
        margin-right: 2rem;

        font-size: 1.2rem;

        background-color: #252525;
        color: white;
      }

      .controls {
        .delete-user {
          margin-left: 2rem;
        }
      }
    }
  }

  button {
    height: 2rem;
    width: 6rem;

    border: 2px solid #252525;

    font-size: 1.2rem;

    cursor: pointer;
  }
}
