.user-editor {
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 3rem;

  font-size: 1.2rem;

  .header {
    width: 100%;

    display: flex;
    justify-content: space-between;

    .nav {
      display: flex;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    margin-top: 5rem;
  }

  .save {
    margin-top: 5rem;

    height: 2rem;
    width: 7rem;

    font-size: 1.2rem;

    border: 2px solid #252525;

    cursor: pointer;
  }
}
