.edit-message-modal {
  position: absolute;

  display: none;

  flex-direction: column;
  align-items: center;
  // justify-content: center;

  height: 100%;
  width: 100%;

  padding: 1rem;

  z-index: 5;

  background-color: white;

  .title {
    font-size: 1.2rem;
    font-weight: 700;

    margin-bottom: 1rem;
  }

  .edit-message-input {
    margin-top: 10rem;

    // width: 100%;
  }

  .controls {
    // margin-left: auto;
    width: 20rem;

    button {
      font-size: 1.2rem;
      font-weight: bold;

      font-family: Arial, Helvetica, sans-serif;

      cursor: pointer;
    }

    .edit-message-button {
      margin-right: 1rem;
    }
  }
}

.modal-shown {
  display: flex;
}
