.login {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .login-input {
      margin-bottom: 2rem;
    }

    input {
      height: 2rem;
      width: 13rem;

      border: 2px solid #252525;
    }

    button {
      margin-top: 2rem;

      height: 2rem;
      width: 6rem;

      font-size: 1.2rem;

      border: 2px solid #252525;

      cursor: pointer;
    }

    label {
      font-size: 1.2rem;

      margin-bottom: 0.3rem;
    }
  }
}
